In [1]:
import pandas as pd

pre_df = pd.read_excel("Dataset_for_cleaningV2.xlsx")

pre_df.head()

,orderID,Donation Category,Donation Frequency,Cause,Donation Amounts,Basket Size
0,84405,Gift Catalogue,Monthly,Emergency Care,125,1
1,85373,"Donation, Donation, Donation, Gift Catalogue, ...","Monthly, One Time, Yearly, Monthly, Yearly, On...","Rosie Litter, Emergency Care, Monetary donatio...","210, 200, 375, 370, 35, 200, 85, 860, 475, 455...",12
2,23396,"Gift Catalogue, Gift Catalogue, Donation, Dona...","One Time, One Time, One Time, One Time, One Ti...","Towels , Monetary donations or gift cards , Ro...","750, 150, 475, 860, 375, 370, 455, 575, 125, 3...",11
3,21207,"Sponsored, Gift Catalogue, Donation, Donation,...","One Time, Monthly, One Time, Yearly, Yearly, Y...","Grooming supplies , Daisy Litter, Cleaning sup...","275, 65, 210, 275, 150, 955, 955",7
4,51199,"Gift Catalogue, Gift Catalogue, Gift Catalogue...","Yearly, Yearly, One Time, One Time, Monthly, Y...","Rosie Litter, Molly Litter, Pet carriers and c...","455, 150, 455, 370, 455, 720, 575, 750",8

In [2]:
print(pre_df.dtypes)
print(len(pre_df))
print(pre_df.count())

orderID                int64
Donation Category     object
Donation Frequency    object
Cause                 object
Donation Amounts      object
Basket Size            int64
dtype: object
100
orderID               100
Donation Category     100
Donation Frequency    100
Cause                 100
Donation Amounts      100
Basket Size           100
dtype: int64

In [3]:
#iterate thorugh and repeat the ord values by the number of times in basket count
value = [x for x in pre_df['orderID']]
# print(len(value))
repetitions = [y for y in pre_df['Basket Size']]
# print(repetitions) # Output: repetitions
z=[]
for i in range(len(value)):
  z.append((str(value[i]) + ' ') * repetitions[i]) # Output: (value[i] * repetitions[i])
pre_df['RepeatedOrdIDs'] = z

#turn Basket size back into a string to iterate through it
pre_df['Basket Size'] = pre_df['Basket Size'].astype(str)


# use if null order ids are present (there shouldn't be any)
nan_values_count = pd.isnull(pre_df).sum()
print(nan_values_count)
print(pre_df.count())
pre_df

orderID               0
Donation Category     0
Donation Frequency    0
Cause                 0
Donation Amounts      0
Basket Size           0
RepeatedOrdIDs        0
dtype: int64
orderID               100
Donation Category     100
Donation Frequency    100
Cause                 100
Donation Amounts      100
Basket Size           100
RepeatedOrdIDs        100
dtype: int64

,orderID,Donation Category,Donation Frequency,Cause,Donation Amounts,Basket Size,RepeatedOrdIDs
0,84405,Gift Catalogue,Monthly,Emergency Care,125,1,84405
1,85373,"Donation, Donation, Donation, Gift Catalogue, ...","Monthly, One Time, Yearly, Monthly, Yearly, On...","Rosie Litter, Emergency Care, Monetary donatio...","210, 200, 375, 370, 35, 200, 85, 860, 475, 455...",12,85373 85373 85373 85373 85373 85373 85373 8537...
2,23396,"Gift Catalogue, Gift Catalogue, Donation, Dona...","One Time, One Time, One Time, One Time, One Ti...","Towels , Monetary donations or gift cards , Ro...","750, 150, 475, 860, 375, 370, 455, 575, 125, 3...",11,23396 23396 23396 23396 23396 23396 23396 2339...
3,21207,"Sponsored, Gift Catalogue, Donation, Donation,...","One Time, Monthly, One Time, Yearly, Yearly, Y...","Grooming supplies , Daisy Litter, Cleaning sup...","275, 65, 210, 275, 150, 955, 955",7,21207 21207 21207 21207 21207 21207 21207
4,51199,"Gift Catalogue, Gift Catalogue, Gift Catalogue...","Yearly, Yearly, One Time, One Time, Monthly, Y...","Rosie Litter, Molly Litter, Pet carriers and c...","455, 150, 455, 370, 455, 720, 575, 750",8,51199 51199 51199 51199 51199 51199 51199 51199
...,...,...,...,...,...,...,...
95,31343,"Sponsored, Gift Catalogue, Sponsored, Sponsored","Monthly, One Time, Yearly, Yearly","Toys , Leashes and collars, Give where most ne...","125, 275, 125, 35",4,31343 31343 31343 31343
96,98275,"Gift Catalogue, Sponsored, Sponsored, Sponsore...","One Time, One Time, One Time, Monthly, One Tim...","Leashes and collars, Litter and litter boxes, ...","720, 955, 955, 35, 275, 455, 275, 275",8,98275 98275 98275 98275 98275 98275 98275 98275
97,23582,"Gift Catalogue, Gift Catalogue, Gift Catalogue...","Yearly, One Time, Yearly, One Time, Monthly, O...","Pet carriers and crates, Towels , Daisy Litter...","200, 150, 420, 860, 370, 275, 860, 85, 375, 420",10,23582 23582 23582 23582 23582 23582 23582 2358...
98,50837,"Gift Catalogue, Donation, Sponsored, Gift Cata...","Yearly, One Time, Monthly, One Time, Monthly, ...","Towels , Leashes and collars, Towels , Office ...","720, 125, 65, 955, 85, 955, 85, 150",8,50837 50837 50837 50837 50837 50837 50837 50837
99,41686,"Sponsored, Donation, Sponsored, Donation, Gift...","Yearly, Yearly, Yearly, Yearly, One Time, Year...","Pet carriers and crates, Molly Litter, Monetar...","860, 200, 885, 150, 35, 475, 210, 420",8,41686 41686 41686 41686 41686 41686 41686 41686

In [4]:

#make a new column with spaces replaced by commas in 'repeated ordvalues'
pre_df['Repeated OrdIDs2'] = pre_df['RepeatedOrdIDs'].apply(
    lambda s: (s.rstrip().replace(" ", ","))
)

pre_df = pre_df.drop(["RepeatedOrdIDs"], axis=1)
pre_df.columns

Index(['orderID', 'Donation Category', 'Donation Frequency', 'Cause',
       'Donation Amounts', 'Basket Size', 'Repeated OrdIDs2'],
      dtype='object')

In [5]:
#Drop columns that won't iterate (eg. have 1 value) 
pre_df = pre_df.drop(['orderID', 'Basket Size'], axis=1)
print(pre_df.dtypes)

Donation Category     object
Donation Frequency    object
Cause                 object
Donation Amounts      object
Repeated OrdIDs2      object
dtype: object

In [6]:
#  Check for NaN values
nan_values_count = pd.isnull(pre_df).sum()
print(nan_values_count)
print(pre_df.count())

Donation Category     0
Donation Frequency    0
Cause                 0
Donation Amounts      0
Repeated OrdIDs2      0
dtype: int64
Donation Category     100
Donation Frequency    100
Cause                 100
Donation Amounts      100
Repeated OrdIDs2      100
dtype: int64

In [7]:
#explicitly cast Donation Amounts as string
pre_df['Donation Amounts'] = pre_df['Donation Amounts'].astype(str)

In [8]:
# Split each column by comma into separate lists 
split_cols = [pre_df[col].str.split(',') for col in pre_df.columns]
print(len(split_cols)) #- 4
# print(split_cols[3]) #first column group


 #Check for NaN values
nan_values_count = pd.isnull(split_cols).sum()
print(nan_values_count)

# for QA & troubleshooting
# split_cols_df = pd.DataFrame(split_cols)
# split_cols_df.to_csv('split_cols_df.csv', index=False)
print(pre_df.count())

5
0
Donation Category     100
Donation Frequency    100
Cause                 100
Donation Amounts      100
Repeated OrdIDs2      100
dtype: int64

In [9]:
#Split the columns into lists of lists (# of rows)
#tuples
rows = list(zip(*split_cols)) 

# QA
print(rows[0])
print(len(rows)) #rows

 
 #Check for NaN values
# nan_values_count = pd.isnull(split_cols).sum()
# print(nan_values_count)

#zip to get into each column group (# of columns:4)
rows2 = list(zip(*rows))
print(type(rows2)) #list of tuples
print(len(rows2))#- 4
print(rows2[0]) #first column group

(['Gift Catalogue'], ['Monthly'], ['Emergency Care'], ['125'], ['84405'])
100
<class 'list'>
5
(['Gift Catalogue'], ['Donation', ' Donation', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Donation', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue'], ['Gift Catalogue', ' Gift Catalogue', ' Donation', ' Donation', ' Donation', ' Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue'], ['Sponsored', ' Gift Catalogue', ' Donation', ' Donation', ' Donation', ' Donation', ' Gift Catalogue'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Sponsored', ' Sponsored', ' Sponsored', ' Donation'], ['Gift Catalogue', ' Donation'], ['Sponsored', ' Sponsored', ' Sponsored', ' Donation', ' Donation', ' Donation', ' Gift Catalogue', ' Donation', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Donation'], ['Sponsored', ' Sponsored', ' Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Donation'], ['Gift Catalogue', ' Gift Catalogue'], ['Gift Catalogue', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Donation', ' Donation', ' Sponsored'], ['Sponsored', ' Sponsored', ' Donation', ' Gift Catalogue'], ['Donation', ' Gift Catalogue'], ['Sponsored', ' Gift Catalogue', ' Donation'], ['Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored'], ['Donation', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Sponsored', ' Donation'], ['Gift Catalogue', ' Donation'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored'], ['Sponsored', ' Gift Catalogue', ' Donation', ' Donation', ' Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Donation', ' Donation'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Donation', ' Sponsored', ' Sponsored', ' Sponsored'], ['Gift Catalogue'], ['Donation', ' Gift Catalogue', ' Donation', ' Sponsored', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation'], ['Gift Catalogue', ' Donation', ' Sponsored'], ['Donation'], ['Donation', ' Sponsored', ' Gift Catalogue'], ['Sponsored', ' Sponsored', ' Gift Catalogue'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Sponsored', ' Donation', ' Donation', ' Sponsored', ' Sponsored', ' Sponsored'], ['Donation', ' Donation', ' Donation', ' Gift Catalogue', ' Donation', ' Donation', ' Donation', ' Gift Catalogue', ' Donation', ' Donation', ' Sponsored'], ['Donation', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Sponsored', ' Donation', ' Gift Catalogue', ' Donation', ' Donation', ' Sponsored', ' Gift Catalogue'], ['Sponsored', ' Donation', ' Donation', ' Sponsored', ' Sponsored', ' Sponsored', ' Donation', ' Donation'], ['Sponsored', ' Sponsored', ' Sponsored', ' Gift Catalogue'], ['Sponsored'], ['Donation', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Donation', ' Gift Catalogue', ' Donation', ' Sponsored', ' Gift Catalogue', ' Donation', ' Sponsored', ' Sponsored'], ['Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Sponsored', ' Donation', ' Donation'], ['Sponsored', ' Donation', ' Sponsored', ' Donation', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue'], ['Donation', ' Donation', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Donation'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Sponsored', ' Gift Catalogue'], ['Sponsored', ' Donation', ' Gift Catalogue', ' Sponsored', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Sponsored'], ['Donation', ' Sponsored', ' Sponsored', ' Sponsored', ' Donation', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue'], ['Sponsored', ' Gift Catalogue', ' Sponsored', ' Donation', ' Donation', ' Sponsored', ' Donation', ' Donation', ' Sponsored', ' Gift Catalogue', ' Sponsored'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Donation', ' Gift Catalogue'], ['Gift Catalogue', ' Donation', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Donation'], ['Sponsored', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue'], ['Donation', ' Sponsored', ' Donation', ' Sponsored', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue'], ['Gift Catalogue', ' Donation', ' Donation', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Sponsored'], ['Sponsored', ' Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Donation'], ['Donation', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Donation', ' Donation', ' Gift Catalogue', ' Donation', ' Donation', ' Donation'], ['Sponsored', ' Gift Catalogue', ' Sponsored', ' Donation', ' Donation', ' Donation'], ['Donation', ' Gift Catalogue'], ['Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored'], ['Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Sponsored'], ['Donation', ' Sponsored', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Donation'], ['Donation', ' Gift Catalogue', ' Donation'], ['Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue'], ['Donation', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Donation', ' Donation'], ['Gift Catalogue', ' Gift Catalogue'], ['Sponsored', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Sponsored', ' Gift Catalogue'], ['Sponsored'], ['Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Sponsored'], ['Donation', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Sponsored', ' Donation', ' Sponsored'], ['Donation', ' Donation', ' Gift Catalogue'], ['Gift Catalogue', ' Sponsored'], ['Sponsored', ' Donation', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Donation', ' Sponsored', ' Gift Catalogue', ' Donation', ' Gift Catalogue'], ['Sponsored', ' Sponsored'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Donation', ' Gift Catalogue', ' Donation'], ['Sponsored', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Sponsored', ' Gift Catalogue'], ['Sponsored'], ['Sponsored', ' Sponsored', ' Sponsored', ' Sponsored', ' Donation', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Donation', ' Donation'], ['Donation', ' Donation', ' Sponsored', ' Sponsored', ' Donation', ' Sponsored'], ['Sponsored', ' Donation', ' Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Donation', ' Donation', ' Gift Catalogue'], ['Donation', ' Sponsored', ' Donation'], ['Sponsored', ' Sponsored', ' Gift Catalogue', ' Sponsored'], ['Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Gift Catalogue'], ['Gift Catalogue', ' Gift Catalogue', ' Donation', ' Donation', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Donation', ' Donation'], ['Gift Catalogue'], ['Sponsored', ' Donation', ' Donation', ' Donation'], ['Donation', ' Donation', ' Donation', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue'], ['Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored'], ['Sponsored', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Donation', ' Gift Catalogue', ' Sponsored', ' Donation', ' Sponsored'], ['Donation', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Donation', ' Gift Catalogue', ' Gift Catalogue'], ['Sponsored', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Donation', ' Gift Catalogue'], ['Sponsored', ' Gift Catalogue', ' Donation', ' Sponsored', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Donation', ' Sponsored', ' Donation', ' Gift Catalogue', ' Donation'], ['Sponsored', ' Donation', ' Sponsored'], ['Gift Catalogue', ' Donation', ' Sponsored', ' Donation', ' Gift Catalogue', ' Donation', ' Sponsored', ' Sponsored', ' Donation', ' Gift Catalogue'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored'], ['Donation', ' Donation', ' Donation', ' Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Sponsored', ' Donation'], ['Sponsored', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Gift Catalogue'], ['Gift Catalogue', ' Sponsored', ' Donation', ' Sponsored', ' Sponsored', ' Donation', ' Donation'], ['Donation'], ['Sponsored', ' Donation', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Donation', ' Donation', ' Sponsored', ' Gift Catalogue', ' Donation', ' Gift Catalogue'], ['Donation', ' Gift Catalogue', ' Gift Catalogue'], ['Donation'], ['Sponsored', ' Donation', ' Sponsored', ' Sponsored', ' Sponsored', ' Donation'], ['Donation'], ['Donation', ' Gift Catalogue', ' Donation', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Donation'], ['Donation', ' Donation', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue'], ['Sponsored', ' Gift Catalogue', ' Sponsored', ' Sponsored'], ['Gift Catalogue', ' Sponsored', ' Sponsored', ' Sponsored', ' Donation', ' Donation', ' Donation', ' Donation'], ['Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Donation', ' Gift Catalogue', ' Donation'], ['Gift Catalogue', ' Donation', ' Sponsored', ' Gift Catalogue', ' Sponsored', ' Gift Catalogue', ' Gift Catalogue', ' Sponsored'], ['Sponsored', ' Donation', ' Sponsored', ' Donation', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue', ' Gift Catalogue'])

In [10]:
# create an empty list
blend = []
# Iterate through each row and zip the values together in the correct column
# # Note: rows2 is a list of tuples, where each tuple corresponds to a column in the original DataFrame
for i in range(len(rows)): #rows:
    zipped = []
    for r in rows2:
        val = r[i]
        if isinstance(val, (list, tuple)):
            zipped.append(val)
        else:
            zipped.append([val])
    blend.append(list(zip(*zipped)))
    
print(len(blend)) #(blend)

100

In [11]:
# Convert the list of tuples into a DataFrame with specified columns
# Column order:
# Donation Category     100
# Donation Frequency    100
# Cause                 100
# Donation Amounts      100
# Repeated OrdIDs2      100

result_df = pd.DataFrame(columns=['Donation Category', 'Donation Frequency', 'Cause', 'Donation Amounts', 'Order ID'])
x=0
for i in range(len(blend)):
    for j in range(len(blend[i])):
            result_df.loc[x] = blend[i][j]
            x+=1

print(result_df.dtypes)
print(result_df.head())

Donation Category     object
Donation Frequency    object
Cause                 object
Donation Amounts      object
Order ID              object
dtype: object
  Donation Category Donation Frequency                               Cause  \
0    Gift Catalogue            Monthly                      Emergency Care
1          Donation            Monthly                        Rosie Litter
2          Donation           One Time                      Emergency Care
3          Donation             Yearly   Monetary donations or gift cards
4    Gift Catalogue            Monthly                        Daisy Litter

  Donation Amounts Order ID
0              125    84405
1              210    85373
2              200    85373
3              375    85373
4              370    85373

In [12]:
# # result_df.columns = result_df[col].str.lstrip() 
# for col in result_df.columns:
#     result_df.columns = result_df[col].str.lstrip()

In [13]:
# Create a unique ID for each group of OrdIDs
result_df['CounterID'] = result_df.groupby('Order ID').cumcount() + 1
result_df

,Donation Category,Donation Frequency,Cause,Donation Amounts,Order ID,CounterID
0,Gift Catalogue,Monthly,Emergency Care,125,84405,1
1,Donation,Monthly,Rosie Litter,210,85373,1
2,Donation,One Time,Emergency Care,200,85373,2
3,Donation,Yearly,Monetary donations or gift cards,375,85373,3
4,Gift Catalogue,Monthly,Daisy Litter,370,85373,4
...,...,...,...,...,...,...
661,Donation,Yearly,Office supplies,150,41686,4
662,Gift Catalogue,One Time,Office supplies,35,41686,5
663,Gift Catalogue,Yearly,Luna Litter,475,41686,6
664,Gift Catalogue,Monthly,Leashes and collars,210,41686,7
665,Gift Catalogue,One Time,Grooming supplies,420,41686,8

In [14]:
#Creating a unique key for each row
result_df['index_id'] = result_df.index.astype(str)


# create ID
result_df['unique_id']= (result_df['Order ID'] + "-" +(result_df['CounterID'].astype(str)) + "-" + result_df['index_id'])
#drop the helper columns
result_df.drop(['CounterID', 'index_id'], axis=1, inplace=True)

result_df


#QA that unique_id = number of rows
print(len(result_df["unique_id"].unique()))
print(len(result_df))
result_df

666
666

,Donation Category,Donation Frequency,Cause,Donation Amounts,Order ID,unique_id
0,Gift Catalogue,Monthly,Emergency Care,125,84405,84405-1-0
1,Donation,Monthly,Rosie Litter,210,85373,85373-1-1
2,Donation,One Time,Emergency Care,200,85373,85373-2-2
3,Donation,Yearly,Monetary donations or gift cards,375,85373,85373-3-3
4,Gift Catalogue,Monthly,Daisy Litter,370,85373,85373-4-4
...,...,...,...,...,...,...
661,Donation,Yearly,Office supplies,150,41686,41686-4-661
662,Gift Catalogue,One Time,Office supplies,35,41686,41686-5-662
663,Gift Catalogue,Yearly,Luna Litter,475,41686,41686-6-663
664,Gift Catalogue,Monthly,Leashes and collars,210,41686,41686-7-664
665,Gift Catalogue,One Time,Grooming supplies,420,41686,41686-8-665

In [15]:
 #Check for NaN values
nan_values_count = pd.isnull(result_df).sum()
print(nan_values_count)
print(len(result_df))

Donation Category     0
Donation Frequency    0
Cause                 0
Donation Amounts      0
Order ID              0
unique_id             0
dtype: int64
666

In [16]:
result_df.to_csv('Shelter_Donation_Transaction_Breakout.csv', index=False)